{% extends "admin/change_list.html" %}
{% load i18n %}

{% block object-tools-items %}
    {{ block.super }}
    <li>
      <a href="./load_rss/" class="addlink">
        {% blocktrans with cl.opts.verbose_name as name %}Upload RSS{% endblocktrans %}
      </a>
    </li>

{% endblock %}
