{% extends "admin/base_site.html" %}
{% load i18n static %}
{% load admin_urls %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
&rsaquo; {% trans 'Upload RSS' %}
</div>
{% endblock %}
{% block content %}
<div id="content-main">
<form enctype="multipart/form-data" action="{{ form_url }}" method="post" id="{{ opts.model_name }}_form">
{% csrf_token %}
<div>
<fieldset class="module aligned">

<div class="form-row">
  {{ form.source.errors }}
  {{ form.source.label_tag }} {{ form.source }}
</div>
</fieldset>

<div class="submit-row">
<input type="submit" value="{% trans 'Upload' %}" class="default" />
</div>

</div>
</form>
</div>
{% endblock %}